button {
	border-radius: 8px;
	border: 4px solid transparent;
	padding: 0.4em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: rgba(255, 255, 255, 0.87);
	background-color: #1a1a1a;
	cursor: pointer;
	transition: background-color 0.25s;
}

button:hover,
button:focus,
button:focus-visible {
	background-color: #1a1a1a;
	outline: 1px auto #1a1a1a;
	border: 4px solid #ffffff;
}